.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 20px 8px 42px;
  width: 400px;
  border-radius: 12px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 8px;
}

.clearIcon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}